<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.pool.maxTotal}"/> <!-- 最大分配的对象数 -->
        <property name="maxIdle" value="${redis.pool.maxIdle}"/> <!-- 最大能够保持idel状态的对象数 -->
        <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/> <!-- 当池内没有返回对象时，最大等待时间 -->
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/> <!-- 当调用borrow Object方法时，是否进行有效性检查 -->
        <property name="testOnReturn" value="${redis.pool.testOnReturn}"/> <!-- 当调用return Object方法时，是否进行有效性检查 -->
    </bean>

    <bean id="jedisShardInfo_0" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.host}"/>
        <constructor-arg index="1" value="${redis.port}"/>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="close">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <array>
                <ref bean="jedisShardInfo_0"/>
            </array>
        </constructor-arg>
    </bean>
</beans>